<div class="container">

  <div>
    Testy Formly2
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-4">
          <h3>Super Formly Form</h3>
          {{vm.user}}
          <form ng-submit="vm.onSubmit()" novalidate>
            <formly-form model="vm.user" fields="vm.userFields" form="vm.form" options="vm.options">
              <button type="submit" class="btn btn-primary submit-button">Submit</button>
              <button type="button" class="btn btn-default submit-button" ng-click="vm.options.resetModel()">Reset</button>
            </formly-form>
          </form>
    </div>
  </div>

  <!-- Put custom templates here -->
<script type="text/ng-template" id="my-messages.html">
  <formly-transclude></formly-transclude>
  <div class="my-messages" ng-messages="fc.$error" ng-if="options.formControl.$touched">
    <div class="some-message" ng-message="{{::name}}" ng-repeat="(name, message) in ::options.validation.messages">
      {{message(fc.$viewValue, fc.$modelValue, this)}}
    </div>
  </div>
</script>

</div>
